*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_menu{
    height: 200px;
    background-color: lightblue;
    /* font-weight: 900; */
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.nav_menu a{
    color: black;
    margin: 0 20px;
    font-size: 30px;
    text-decoration: none;
}