* {
    margin: 0;
    padding: 0;
}

.grid_container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; */
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-rows: 500px;

}

.grid_item {
    border: 1px dashed black;
    padding: 20px;
    text-align: center;
}

/* .item_1 {
    background-color: yellow;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
} */