* {
    padding: 0;
    margin: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #6d00d3;
    align-items: center;
    height: 60px;
    padding: 10px 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}
.logo {
    font-size: 32px;
    color: aqua;
}

.menu_item {
    font-size: 19px;
  color:  #87cefa;
  border-bottom: 3px solid transparent;
 

}

.account {
    font-size: 24px;
    color: aqua;
}

.menu_item:hover {
    color: orange;
    border-bottom: 3px solid orange; /* vse deistviya proishodyat tolko pri navedenii kursora*/
}

img {
    height: 300px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    padding: 0px 250px 50px 250px; /* otstup sverhu i dalshe po chasovoy strelke */
}

.description {
    width: 200px;
}

h3, p {
color: #6d00d3;

}

.film_title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}

h3 {
    margin-bottom: 15px;
    margin-top: 50px;
}

.icon {
    cursor: pointer;
}

div .menu_item{
    padding-bottom: 20px;
}

.film_score {
    width: 40px;
    height: 20px;
    
}

 .film_item {
     position: relative;
 }

.film_rating {
    position: absolute;
    width: 25px;
    height: 13px;
    border: 1px solid transparent;
    background-color: green;
    top: 29px;
    left: -7px;
    font-size:x-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: aliceblue;
    text-align: center;
}
