.discount_section {
    background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
    height: 476px;
    display: flex;
    justify-content: space-between;
    padding: 0 112px 0 0;
}

.discount_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount_form input {
    width: 473px;
    height: 75px;
    border-radius: 25px;
    padding: 27px 0 27px 50px;
    margin-top: 46px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder { 
    color: #6C6C6C;
    opacity: 1;   
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
  }

.discount_form button {
    width: 473px;
    height: 75px;
    border-radius: 25px;
    border: 2.4px solid  #FFFFFF;
    padding: 20px 94px 20px 95px;
    font-weight: 700;
    font-size: 28.7392px;
    line-height: 120%;
    cursor: pointer;
    margin-top: 39px;
}

.discount_title {
    color: #FFFFFF;
    margin: 44px 52px 0 0;
}

.accent_discount {
    display: block;
    font-weight: 700;
    font-size: 90px;
    line-height: 100%;
}

.errors_message {
   color: #e8aeae;
   margin-left: 15px; 
}


/* ////////////

.section{
    /* background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%); */
    /* background-color: #339933;
    min-height: 576px;
    /* padding: 27px 927px 91px; */
    /* background-image: url('./media/image 3.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 50px;
    margin-top: 500px;
    padding-top: 100px;
    padding-left: 1000px;
    display:flex;
	height: 476px;
} */ 


/* .discount{
    display: flex;
	flex-direction: column;
    margin: 44px;
    width: 575px;
    height: 159px;
    font-weight: 700;
    font-size: 90px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.order{
    font-size: 60px;
}
///////////// */ 

/* .input{
    display: flex;
    flex-direction: row;
    width: 473px;
    height: 75.44px;
    background: #FFFFFF;
    border-radius: 25.1468px;
    margin: 44px;
}

/* margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px 50px;
    gap: 10px;
    position: absolute;
    width: 241px;
    height: 82px;
    background: transparent;
    border-radius: 13px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    cursor: pointer; */

/* .button{
    position: absolute;
    display: flex;
    flex-direction: row;
box-sizing: border-box;
width: 473px;
height: 75.44px;
background-color: #339933;
border: 2.39494px solid #FFFFFF;
border-radius: 25.1468px;

font-weight: 700;
font-size: 28.7392px;
line-height: 120%;
letter-spacing: 0.03em;
color: #FFFFFF;
align-items: center;
cursor: pointer;

} */

/* .form {
	display: flex;
	flex-direction: column;
}
.form input{
	height: 75px;
	width: 473px;
	border-radius:25px;
	margin-left: 100px;
	margin-top: 40px;
	font-size: 18px;
	padding-left: 35px;
}
.form button{
	height: 75px;
	width: 473px;
	border-radius:25px;
	margin-left: 100px;
	margin-top: 25px;
	font-size: 18px;
	color:#FFFFFF;
	background-color: transparent;
	border: 3px solid #FFFFFF;
	font-weight: 700;
    font-size: 28.7392px;
} */





