.nav_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav_menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 68px;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav_menu li{
    cursor: pointer;
}