.footer {
    height: 375px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0px;
}

.phone {
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    margin: 25px 0 32px;
    cursor: pointer;
}

.social_icons {
    width:100px;
    display: flex;
    justify-content: space-between;
}

.insta_icon ,
.whatsApp_icon {
    width: 44px;
    height: 44px;
    cursor: pointer;
    color: black;
}

.address {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    margin-top: 25px;
    width: 564px;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    margin-top: 20px;
}

.accent {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.accent_city {
    display: block;
    font-weight: 600;
    font-size: 35px;
}






/* ////////////
.main_footer{
    /* display: flex;
    justify-content: space-around;
    padding: 50px 10px 50px 10px; */

    /* height: 400px;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 48px 32px;

}
    
.contacts_block{
    display: flex;
    flex-direction: column;
    /* width: 65%; */
    /* font-size: 40px;
    line-height: 130%;
    color: #000000;
}

/////////////// */ 



/* .phone{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-style: normal;
    color: #000000;
}

.phone p{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.phone h2{
    width: 600px;
    height: 91px;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;
    color: #000000;
} */




/* 
////////////////////

.messengers{
    display: flex;
    gap: 63px;
    text-align: center;
    margin-top: 20px;
}


.address{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 35%; */
    /* line-height: 130%;
    color: #000000;
    height: 104px;
    font-weight: 600;
    font-size: 40px;
}

.address p{
height: 23px;
font-weight: 500;
font-size: 18px;
}

.adr{
width: 138px;
height: 52px;
font-weight: 700;
font-size: 40px;
}


///////////////// */





/* .city_name{
    width: 536px;
    height: 104px;
   
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
}

.city_name h2{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;

} */







/* ///////////////

.mode{
    width: 141px;
    height: 23px;
    font-weight: 500;
    font-size: 18px;
}

.hours{
    width: 193px;
    height: 31px;
    font-weight: 600;
    font-size: 24px;
   line-height: 1%;
}

//////////////// */







