* {
    padding: 0;
    margin: 0;
}

.container {
    border: 1px solid black;
    background-color: bisque;
    width: 200px;
    /*height: 250px;*/
    padding: 10px;
    margin: 10px;
}

.progress_container {
    position: relative;
    width: 200px;
    height:20px;
    border: 1px solid black;
}

.progress_line {
    position: absolute;
    height: 100%;
    background-color: lightseagreen;
    width: 50%;
}
.card1 {
    width: 50%;
}

.card2 {
    width: 10%;
}

.progress_value {
    position: absolute;
    /*left: 45%;*/
    width: 100%;
    text-align: center;
}
