*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    padding: 40px 20px;
}

.card{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

.active{
    background-color: pink;
    color: blanchedalmond;
}