
#main p {
    padding: 20px;
    border: 2px solid black;

}

#main .about {
    background-color: aquamarine;
text-align: center;
}


#main .about{
    background-color: bisque;
    text-align: center;
}

    #main .link{
        text-align: center;

    }


#main .lesson {
    background-color: blueviolet;
}

#shedule ul{
    list-style:lower-alpha;
}