*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
}

.container{
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

#add_form{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    margin: 20px;
    width: 300px;
}

#add_form input{
    padding: 20px;
    border: 2px solid black;
}

#add_form button{
    padding: 10px;
    border: 2px solid black;
}