*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 60px;
    background-color: bisque;
}

nav ul{
display: flex;
list-style: none;

}
nav ul li a{
    padding: 20px;
    text-decoration: none;
    color: black;

}
nav .logo img{
    width: 100px;
    
}
