.users_cards{
    border: 2px dashed green;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    height: 265px;
}

.users_cards img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
